.search-input__container {
    display: flex;
    justify-content: center;
}

.error-text {
    padding: 20px 40px;
    background: #f58078;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.note-text {
    color: white;
    background-color: #f5c978;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    font-size: 12px;

}

.search-container {
    margin: 10px 40px;
}

.search-nav__button {
    display: flex;
    justify-content: space-between;
}